# results
results/

# Un-cogvideo stuff
.logs
assets
configs
dcgm
lvdm
opensora_fifo
prompts


# checkpoints
videocrafter_models/
zeroscope_models/
opensoraplan_models/

# venvs
.fifo
.sora
dcgm

# others
taming
.DS_Store
__pycache__
Open-Sora-Plan
results/
checkpoints/
deletes/
llama-3-8b-Instruct/
