# results
results/

# Un-cogvideo stuff
.logs
configs
dcgm
opensora_fifo


# checkpoints
videocrafter_models/
zeroscope_models/
opensoraplan_models/

# venvs
.fifo
.sora
dcgm
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.avi
*.mov

# others
taming
.DS_Store
__pycache__
Open-Sora-Plan
results/
checkpoints/
deletes/


# Other repos
Cogvideo*
AnyV2V
cog*
Grounded-SAM-2/
FreeBlend/
datasets
*.sh